body {
  font-size: 16px;
  background: cadetblue;
}
body,
html {
  height: 100%;
}
body,
img,
input,
textarea {
  font-family: Arial, "Microsoft Yahei";
}
* {
  margin: 0;
  padding: 0;
}
.workmanLoginMain {
  margin: 0 auto;
  max-width: 640px;
  min-height: 100%;
}
.workmanLoginMain header {
  height: 56px;
  text-align: center;
  line-height: 56px;
  background-color: #ffa500;
  border-radius: 0 0 10px 10px;
}
.workmanLoginMain .line {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  float: left;
}
.workmanLoginMain .form {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 10px;
}
.workmanLoginMain .ipt-text {
  padding: 0 5px;
  border: 1px solid #e4e4e4;
  background-color: #ffffff;
  border-radius: 3px;
  height: 32px;
  line-height: normal;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}
.workmanLoginMain .shortText {
  width: 68%;
  float: left;
}
.workmanLoginMain .formbtn01 {
  margin: 2px 0 0 5px;
  float: right;
  width: 30%;
  height: 28px;
  line-height: 28px;
  font-size: 14px;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid #ffa500;
  border-radius: 2px;
  background-color: #fff;
  color: #ffa500;
}
.workmanLoginMain .btn {
  margin: 0 auto;
  display: block;
  width: 200px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: #ffa500;
  color: #fff !important;
}
.workmanLoginMain .btn.disabled {
  background-color: #e4e4e4;
  color: #999;
  cursor: default;
  outline: 0;
}
.workmanLoginMain .captcha {
  margin: 0 auto;
  width: 300px;
  height: 188px;
}
.workmanLoginMain .logo {
  width: 100px;
  border-radius: 10px;
}
.workmanLoginMain .title {
  color: #ffffff;
  font-size: 32px;
}
.workmanSelfMain {
  margin: 0 auto;
  max-width: 640px;
  min-height: 100%;
  color: white;
}
.workmanSelfMain .logoutBtn {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px 15px;
  border: none;
  background-color: orange;
  color: white;
  border-radius: 5px 0 0 5px;
  font-size: 15px;
  font-weight: bold;
}
.workmanSelfMain .submitBtn {
  padding: 10px 15px;
  border: none;
  background-color: orange;
  color: white;
  border-radius: 5px ;
  font-size: 15px;
  font-weight: bold;
  margin-left: 100px;
  margin-bottom: 10px;
}
.workmanSelfMain .idCardImgClass {
  margin-top: 5px;
  width: 300px;
  display: none;
}
.workmanSelfMain .idHeadImgClass {
  margin-top: 5px;
  width: 200px;
  display: none;
}
.workmanSelfMain .loadForm {
  margin-left: 20px;
  float: left;
  position: relative;
  width: 100px;
  background-color: orange;
  border-radius: 5px;
  padding: 5px;
}
.workmanSelfMain .loadForm .btn {
  left: 0px;
  top: 0px;
  width: 100px;
}
.workmanSelfMain .loadForm input[type=file] {
  position: absolute;
  width: 120px;
  height: 36px;
  opacity: 0;
  left: 0px;
  top: 0px;
}
.workmanSelfMain .checkBoxForm {
  float: left;
}
.workmanSelfMain .checkBoxForm input[type=checkbox] {
  margin-top: 5px;
  margin-left: 20px;
}
.workmanSelfMain .checkBoxForm input[type=text] {
  margin-top: 5px;
  border: none;
  width: 100px;
  margin-left: 5px;
}
.workmanSelfMain .serviceItem {
  float: left;
  width: 100%;
  margin-bottom: 5px;
}
.workmanSelfMain .line {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  float: left;
}
.workmanSelfMain .sTitle {
  width: 90%;
  float: left;
  text-align: left;
  padding-left: 10px;
  margin-bottom: 5px;
}
.workmanSelfMain .tTitle {
  float: left;
  text-align: left;
  padding-left: 10px;
}
.workmanSelfMain span,
.workmanSelfMain input {
  float: left;
}
.workmanSelfMain .szd select {
  border: none;
  float: left;
  height: 32px;
  padding: 5px;
  width: 30%;
  margin-right: 2px;
  margin-left: 5px;
}
.workmanSelfMain .title {
  width: 100%;
  font-size: 32px;
  text-align: center;
  display: block;
}
.workmanSelfMain .tips {
  font-size: 14px;
  margin-left: 20px;
}
.workmanSelfMain .head {
  float: left;
  font-size: 16px;
  margin-left: 20px;
  margin-top: 20px;
}
.workmanSelfMain .head:before {
  content: "▼";
}
.workmanSelfMain .text {
  margin-top: 10px;
  padding: 0 5px;
  border: 1px solid #e4e4e4;
  background-color: #ffffff;
  height: 32px;
  line-height: normal;
  font-size: 14px;
  width: 100%;
}
.workmanSelfMain .textarea {
  height: 100px;
}
.workmanSelfMain .radio {
  float: left;
  margin: 5px 0px 5px 20px;
}
.workmanSelfMain .radio:checked + label {
  color: orange;
}
.workmanSelfMain .date {
  padding: 0 5px;
  border: 1px solid #e4e4e4;
  background-color: #ffffff;
  height: 32px;
  line-height: normal;
  font-size: 14px;
  width: 100%;
}
.workmanSelfMain .date + label {
  position: absolute;
  right: 50px;
  top: 5px;
  color: gray;
}
.workmanSelfMain label {
  float: left;
  margin-left: 10px;
}
